[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rlinkedin"]
	path = Rlinkedin
	url = https://github.com/mpiccirilli/rlinkedin
